.ani-fade-in--slide {
	-webkit-animation: aniFadeInSlide 1.2s ease-in forwards;
	animation: aniFadeInSlide 1.2s ease-in forwards;
}

@-webkit-keyframes aniFadeInSlide {
	from {
		opacity: 0.2;
	}
	to {
		opacity: 1;
	}
}

@keyframes aniFadeInSlide {
	from {
		opacity: 0.2;
	}
	to {
		opacity: 1;
	}
}

.scroll-animate {
	-webkit-animation: scroll 0.8s ease-in forwards;
	animation: scroll 0.8s ease-in forwards;
}

@-webkit-keyframes scroll {
	from {
		transform: translateY(100px);
		opacity: 0;
	}
	to {
		transform: none;
		opacity: 1;
	}
}

@keyframes scroll {
	from {
		transform: translateY(100px);
		opacity: 0;
	}
	to {
		transform: none;
		opacity: 1;
	}
}
