// =======  variables ======= //
$main-color: #45c0f8;
$main-color-dark: #20b6fa;
$text-color-dark: #696969;
$text-color-deep-dark: #333;

.centers {
  height: 100vh;
  background-color: #f0f2f5;
  padding-top: 94px;

  h2 {
    margin-top: 20px;
  }

  select {
    width: 50% !important;
    margin: auto;
    background: transparent;
  }

  .map {
    margin-top: 42px;
    height: 60vh;

    .col {
      padding: 0;
    }

    iframe {
      width: 100%;
      height: 100%;
    }
  }

  .address {
    background-color: #fff;
    overflow-y: scroll;
    max-height: 100%;

    &-item {
      padding: 14px 20px 14px 60px;
      transition: all 0.4s;
      position: relative;
      & * {
        cursor: pointer;
      }

      h4 {
        font-size: 14px;
        font-weight: bold;
        color: $text-color-deep-dark;
        margin-bottom: 5px;
      }

      p {
        font-size: 14px;
        color: $text-color-dark;
        margin-bottom: 8px;
      }

      a {
        color: $main-color;
        margin-left: 8px;
        transition: all 0.3s;
        &:hover,
        &:active {
          text-decoration: underline !important;
        }
      }

      .icon {
        color: $text-color-dark;
      }

      .map-icon {
        top: 10px;
        left: 20px;

        i {
          color: $main-color;
          font-size: 32px;
        }
      }

      .btn {
        margin-top: 20px;
        background-color: $main-color;
        padding: 12px 32px;

        color: #fff;
        font-size: 14px;
        font-weight: bold;
      }

      &.active {
        background-color: #e5e5e5;
      }

      &:hover,
      &:active {
        background-color: #f7f7f7;
      }
    }
  }
}
