*,
body {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	font-family: 'Open Sans', sans-serif;
}

a {
	color: inherit;
	text-decoration: none !important;
}

ol,
ul {
	list-style: none;
	margin: 0;
}

body::-webkit-scrollbar {
	width: 10px;
}

body::-webkit-scrollbar-thumb {
	background-color: darkgrey;
	outline: 1px solid slategrey;
}
