// =======  variables ======= //
$main-color: #45c0f8;
$main-color-dark: #20b6fa;
$text-color-dark: #696969;
$text-color-deep-dark: #333;

.schedules {
  padding-top: 94px;
  background-color: #f0f2f5;

  &-wrapper {
    padding: 40px 0;
  }

  .course {
    margin: 18px 32px;
    align-items: center;
  }

  .btn {
    background-color: $main-color;
    color: #fff;
    padding: 8px 24px;
  }

  .filter {
    background-color: #fff;
    padding: 16px;
    align-items: center;
    justify-content: center;

    span {
      color: #767676;
      font-weight: bold;
      opacity: 0.6;
      font-size: 12px;
    }

    .btn {
      width: 100%;
    }
  }

  select {
    background: transparent;
    opacity: 0.6;
    color: #333;
  }
}
