// =======  variables ======= //
$main-color: #45c0f8;
$main-color-dark: #20b6fa;
$text-color-dark: #696969;
$text-color-deep-dark: #333;

// ======= custom - utils ======= //
.btn {
  border-radius: 100px;
  padding: 15px 30px;
  transition: all 0.35s;
  text-transform: uppercase;
}

.flex-grow-1 {
  flex-grow: 1;
}

.trans-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// ======= header ======= //
.header {
  width: 100%;
  z-index: 2;
  padding: 0 50px;

  &.sticky {
    background-color: #fff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);

    .menu-item {
      .title {
        color: $main-color;
        &.contact-btn {
          color: #fff;
        }
      }
    }

    .navbar-wrapper {
      .logo {
        &--primary {
          display: none;
        }
        &--secondary {
          display: block;
        }
      }
    }
  }
}

.navbar-wrapper {
  .logo {
    &--primary {
      width: 130px;
      height: 170px;
    }
    &--secondary {
      display: none;
    }
  }
}

.menu {
  height: 94px;
}

.menu-item {
  padding: 20px 0px;
  margin-left: 14px;
  position: relative;

  .title {
    color: #fff;
    font-size: 12px;
    font-weight: 700;

    text-transform: uppercase;
    letter-spacing: 1px;

    opacity: 0.85;
    transition: all 0.3s;
    &:hover,
    &:active {
      opacity: 1;
    }
  }

  .contact-btn {
    background-color: $main-color;
    margin-left: 24px;
    opacity: 1;

    &:hover,
    &:active {
      background-color: $main-color-dark;
    }
  }

  .icon {
    font-size: 18px;
    cursor: pointer;
    &:hover,
    &:active {
      transform: scale(1.1);
    }
  }

  .flag {
    cursor: pointer;
  }
}

.sub-menu {
  background-color: #fff;
  box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.15);
  min-width: 340px;
  padding: 20px;

  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);

  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;

  // jQuery effect
  &.hover {
    opacity: 1;
    visibility: visible;
  }

  // arrow
  &::before {
    content: "";
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;

    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
  }

  &-item {
    line-height: 2.4;

    & a {
      transition: all 0.3s;
      color: $text-color-dark;
      font-size: 14px;
      font-weight: 400;
    }

    & .arrow-icon {
      color: #606162;
      font-size: 10px;
      transition: all 0.3s;
    }

    &:hover,
    &:active {
      & a,
      & .arrow-icon {
        color: #000;
      }
    }
  }

  &--lv2 {
    background-color: #fff;
    box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.15);

    min-width: -webkit-max-content;

    min-width: -moz-max-content;

    min-width: max-content;
    padding: 20px;

    position: absolute;
    left: calc(100% + 22px);
    top: 0;

    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;

    // jQuery effect
    &.hover {
      opacity: 1;
      visibility: visible;
    }
  }
}

.banner-wrapper {
  top: 0;
  left: 0;
}

.banner {
  &-img {
    width: 100%;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.3);
  }
}

// ======= slide menu ======= //
.slide-menu {
  min-height: 100vh;
  max-width: 400px;
  height: 100%;
  padding: 48px;
  &::-webkit-scrollbar {
    width: 0px;
  }

  background-color: #fff;
  right: 0;
  z-index: 99;

  // jQuery effect
  transform: translateX(100%);
  overflow-x: hidden;
  transition: transform 0.3s;

  &.show {
    transform: none;
  }

  &-link {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
    font-weight: 700;
    color: $text-color-dark;

    &:hover,
    &:active {
      color: #000;
    }
  }

  & * {
    margin-bottom: 20px;
  }

  .btn--signup {
    background-color: $main-color;
    font-weight: bold;
    color: #fff;
    padding: 12px;

    &:hover,
    &:active {
      background-color: $main-color-dark;
    }
  }

  .close-icon {
    top: 16px;
    right: 20px;

    color: $text-color-dark;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s;

    &:hover,
    &:active {
      transform: scale(1.2);
    }
  }
}

.login-area {
  background-color: $main-color;
  padding: 8px 42px;
  border-radius: 8px;
  & * {
    margin: 8px 0;
  }

  h2 {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
  }

  .btn {
    background-color: #fff;
    font-size: 12px;
    font-weight: bold;
    color: $text-color-dark;

    &:hover,
    &:active {
      background-color: $main-color-dark;
      color: #fff;
    }
  }
}

.sm-menu {
  padding: 12px 0;
  border-top: solid 1px #e5e5e5;
  border-bottom: solid 1px #e5e5e5;
  display: none;

  &-item {
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 0;
    margin: 0;

    & a {
      color: #444;
    }

    & i {
      padding-left: 8px;
      margin: 0;
      color: #aaa;
    }

    &:hover,
    &:active {
      & a {
        transition: all 0.3s;
        color: $text-color-dark;
      }
    }
  }

  &-sub {
    padding-left: 12px;
    border-left: solid 1px #e5e5e5;
    margin-bottom: 0;
    margin-top: 8px;

    & li {
      margin-bottom: 0;
      text-transform: none;
      padding: 8px 16px;
      max-width: 100%;
      & a {
        font-weight: 400;
        color: $text-color-dark;
      }
    }
  }
}

// ======= carousel ======= //
#carouselBanner {
  display: none;
}

// ======= Search section ======= //
.search-section {
  background-color: #f0f2f5;
  padding: 88px 0px 44px;

  &-filter {
    height: 120px;
    padding: 20px 30px;

    background-color: $main-color;
    border-radius: 8px;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.1);

    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);

    & * {
      color: #fff;
    }

    p {
      font-size: 16px;
    }

    &-input {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      margin: 0px 4px;

      label {
        margin-bottom: 0;
        font-size: 14px;
        font-weight: bold;
        padding-right: 12px;
      }

      select {
        max-width: 160px;
        background-color: transparent;

        border: solid 2px rgba(255, 255, 255, 0.2);
        outline: none;
        box-shadow: none;

        &:disabled {
          background-color: transparent;
          opacity: 0.6;
          cursor: not-allowed;
        }

        option {
          background-color: transparent;
          color: $text-color-dark;
        }
      }
    }

    .btn-submit {
      flex-basis: 180px;
      font-size: 12px;
      background-color: #fff;
      padding: 8px 12px;
      margin-left: 12px;
      color: $main-color;
      &--sm {
        display: none;
      }
    }
  }

  &-img {
    max-width: 750px;
    margin: 0 auto;
    img {
      width: 100%;
    }
  }

  select.error {
    border: solid 1px red;
  }
}

// ======= Program section ======= //
.program-section {
  padding: 40px 15px;

  &-title {
    font-size: 26px;
    line-height: 1.25;
    font-weight: bold;
    margin-bottom: 20px;
    color: $text-color-deep-dark;
  }

  &-sub-title {
    font-size: 14px;
    color: $text-color-dark;
    margin-bottom: 16px;
  }
}

.program-item {
  padding: 0 12px;
  margin-bottom: 24px;
  overflow: hidden;

  &-title {
    position: absolute;
    opacity: 1;
    transition: all 0.4s;

    color: #fff;
    font-size: 16px;
    font-weight: bold;
    left: 0;
    bottom: 0;
    padding: 30px;

    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(5, 5, 35, 0.5));
    width: 100%;
    margin-bottom: 0;
  }

  img {
    width: 100%;
    min-height: 450px;
    max-height: 600px;
  }

  &-desc {
    position: absolute;
    top: 0;
    left: 0;
    padding: 30px;

    width: 100%;
    height: 100%;
    background-color: rgba(28, 38, 58, 0.6);
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;

    .caption {
      color: #fff;
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 20px;
      opacity: 0;
      transform: translateY(100%);
      transition: all 0.5s;
    }

    p {
      color: #fff;
      font-size: 14px;
      line-height: 1.5;
      margin-bottom: 30px;
    }

    .list {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-bottom: 20px;
      &-item {
        position: relative;
        width: 48%;
        height: 30px;

        margin: 8px 0;
        padding: 0px 20px 0px 14px;

        border: solid 1px #fff;
        border-radius: 100px;
        transition: all 0.8s;

        a {
          color: #fff;
          text-transform: uppercase;
          font-size: 11px;
          font-weight: bold;
        }

        &::after {
          content: "";
          position: absolute;
          top: 50%;
          right: 12px;

          width: 6px;
          height: 6px;
          transform: translateY(-50%) rotate(45deg);
          border-top: 1px solid #fff;
          border-right: 1px solid #fff;
        }

        &:hover,
        &:active {
          border: none;
          background-color: $main-color;
        }
      }
    }

    .btn {
      background-color: $main-color;
      color: #fff;
      padding: 12px 28px;
      font-size: 12px;
      font-weight: bold;

      position: absolute;
      bottom: 30px;
      opacity: 0;
      transform: translateY(30px);
      transition: all 0.5s;
    }
  }

  &:hover,
  &:active {
    .program-item {
      &-title {
        transform: translateY(100%);
        opacity: 0;
      }

      &-desc {
        opacity: 1;
        visibility: visible;
        .caption {
          opacity: 1;
          transform: none;
        }

        .btn {
          opacity: 1;
          transform: none;
        }
      }
    }
  }
}

.video-link {
  padding: 0 18px;
  margin-bottom: 20px;

  a {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    border-bottom: solid 1px #fff;
    opacity: 0.8;
    line-height: 1.65;
    transition: all 0.35s;

    &:hover,
    &:active {
      border-bottom: none;
      opacity: 1;
    }
  }
}

// ======= Good story section ======= //
.good-story-section {
  background-color: #f0f2f5;

  &-content {
    padding: 40px 15px;
  }

  .btn {
    margin-top: 20px;
    background-color: $main-color;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
  }
}

.video-embed {
  &-item {
    margin-bottom: 20px;
    height: 240px;
  }

  iframe {
    height: 100%;
    width: 100%;
  }
}

// ======= why choose section ======= //
.whychoose-section {
  background-image: url("../../images/whychoose-bg.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  width: 100%;
  padding: 88px 0;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(28, 38, 58, 0.6);
    z-index: 0;
  }

  .title {
    color: #fff;
    font-size: 26px;
    margin-bottom: 20px;
    font-weight: bold;
  }

  .sub-title {
    color: #fff;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.5;
  }

  .info {
    margin-top: 102px;

    &-item {
      height: 210px;
      width: 210px;

      color: #fff;
      text-align: center;
      padding: 60px 20px 20px;
      margin-bottom: 12px;

      .count {
        font-weight: 600;
        font-size: 38px;
        line-height: 54px;
        margin-bottom: 0;
      }

      p {
        margin-bottom: 0;
        opacity: 0.75;
        font-size: 12px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 1px;
      }
    }

    &-item:not(:last-child) {
      margin-right: 12px;
    }
  }
}
#infoItem {
  &1 {
    background-color: #4bbadc;
  }
  &2 {
    background-color: #f08a8f;
  }
  &3 {
    background-color: #f2c152;
  }
  &4 {
    background-color: #61b46b;
  }
  &5 {
    background-color: #c26236;
  }
}

// ======= news section ======= //
.news-section {
  padding: 40px 15px;
  background-color: #f0f2f5;

  color: $text-color-dark;
  font-size: 14px;
  line-height: 1.6;

  .card {
    margin-bottom: 24px;
    border: none;
    box-shadow: 0px 4px 5px 3px rgba(0, 0, 0, 0.04);

    height: 560px;
  }

  .card-body {
    padding: 22px 30px 24px;
  }

  .card-title {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.5;
    a {
      color: $main-color;
    }
  }

  .calendar {
    display: block;
    margin-bottom: 12px;
    img {
      margin-right: 12px;
      width: 22px;
      height: 22px;
    }
  }

  .btn {
    font-size: 14px;
    font-weight: bold;
    color: $main-color;
  }
}

// ======= footer ======= //
footer {
  background-color: #2f2f2f;
}

.footer {
  &-logo {
    flex-basis: 140px;
    margin-right: 15px;

    img {
      width: 100px;
      height: 130px;
    }
  }

  &-info {
    padding-top: 60px;
    padding-bottom: 100px;

    &-item {
      h6 {
        color: #fff;
        font-weight: bold;
        margin-bottom: 24px;
        font-size: 12px;
      }
      p a {
        color: #fff;
        opacity: 0.75;
        font-size: 14px;
        transition: all 0.3s;
        &:hover,
        &:active {
          opacity: 1;
        }
      }

      &.map {
        h6 a {
          color: #fff;
          opacity: 0.9;
          line-height: 1.6;
        }
      }
    }
  }

  &-contact {
    p {
      color: #fff;
      opacity: 0.5;
      font-size: 14px;
      margin-bottom: 0;
      text-align: center;
    }

    &-icon {
      margin-left: 24px;
      i {
        font-size: 18px;
        color: #fff;
        opacity: 0.5;
        padding: 0 4px;
        transition: all 0.3s;

        &:hover,
        &:active {
          opacity: 1;
        }
      }
    }

    .copyright {
      margin-bottom: 24px;
    }

    padding-bottom: 60px;
  }
}

// ======= contact sticky ======= //
.icon-contact {
  z-index: 999;
  bottom: 20px;

  img {
    width: 50px;
    height: 50px;
    transition: all 0.5s;
  }

  &.phone {
    left: 20px;
  }

  &.messenger {
    right: 20px;
  }

  &:hover,
  &:active {
    img {
      transform: scale(1.2);
    }
  }
}

// ======= responsive - media query ======= //
@media only screen and (max-width: 1140px) {
  // ======= header ======= //
  .header {
    padding: 0 16px;
    .navbar-wrapper {
      .logo {
        &--primary {
          display: none;
        }
        &--secondary {
          display: block;
        }
      }
    }
  }

  // ======= footer ======= //
  .footer {
    &-logo {
      display: none;
    }
  }
}

@media only screen and (max-width: 992px) {
  // ======= header ======= //
  .header {
    .menu-item {
      display: none;
      &#slideMenuIcon,
      &#contactBtn,
      &#flag {
        display: block;
      }
    }

    .contact-btn {
      padding: 8px 32px;
    }

    .navbar-wrapper {
      .logo {
        &--secondary {
          width: 48px;
        }
      }
    }
  }

  .sm-menu {
    display: block;
  }

  // ======= search section ======= //
  .search-section {
    &-filter {
      height: -webkit-max-content;
      height: -moz-max-content;
      height: max-content;

      &-form {
        flex-direction: column;
      }

      .btn-submit {
        flex-basis: auto;
        max-width: 50%;
        margin-top: 16px;
        transform: translateX(50%);
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  // ======= footer ======= //
  .footer-info-item.map {
    h6,
    .cambridge-logo {
      display: none;
    }
  }
}

@media only screen and (max-width: 576px) {
  // ======= header ======= //
  .header {
    background-color: #fff;

    #slideMenuIcon .icon {
      color: $main-color;
    }
  }
  .slide-menu {
    width: 100vw;
    max-width: 100vw;
  }
  .banner-wrapper {
    display: none;
  }
  #carouselBanner {
    display: block;
    transform: translateY(94px);
    .carousel-item {
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.35);
      }
    }
  }

  // ======= search section ======= //
  .search-section-filter {
    display: flex;
    flex-direction: column;
    width: 90%;
    &-form {
      display: none !important;
    }
    p {
      font-weight: bold;
    }
    .btn-submit--sm {
      display: block;
      margin: 0;
      max-width: 100%;
      transform: none;
      padding: 12px 24px;
    }
  }

  // ======= news section ======= //
  .news-section {
    .card {
      min-height: -webkit-max-content;
      min-height: -moz-max-content;
      min-height: max-content;
    }
  }

  // ======= footer ======= //
  .footer-info {
    justify-content: center;
  }

  .footer-info-item.add-ref {
    display: none;
  }

  .footer-info-item.map {
    img {
      width: 100%;
    }
  }
}
